@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: 'Libre Caslon Display', serif; width: 400*/
/* font-family: 'Libre Caslon Text', serif; width: 400, 400 italic, 700*/
/* #463a3b */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Caslon Text', serif;
}
h1, h2, h3, h4, h5, h6, p {
  color: #463a3b;
  font-weight: 400;
}
.site-container {
  max-width: 900px;
  padding: 0 50px;
  margin: 0 auto;
}

a {
  color: #463a3b;
  text-decoration: none;
  font-size: 1.2rem;
}

button {
  background: #b3c5ce;
  font-family: 'Libre Caslon Display', serif;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.3rem;
  letter-spacing: 1px;
  border: none;
  padding: .6rem 1.1rem;
}
.btn-sm {
  padding: .4rem .9rem;
  font-size: 1rem;
}
button:hover {
  background-color: rgb(141, 157, 165);
}
p {
  letter-spacing: 1px;
  line-height: 1.8rem;
}