.addProductForm {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.addProductForm input,
.addProductForm textarea {
  padding: 0.5rem;
  margin: 0.5rem 0 0;
  border-radius: 0.25rem;
  border: solid #b3c5ce 1px;
  font: inherit;
}

.addProductForm input:focus,
.addProductForm textarea:focus {
  outline: 1.5px solid rgb(141, 157, 165);
  -moz-outline-radius: 0.3em;
}

.addProductForm label {
  margin-top: 1rem;
}

.addProductForm .inputs {
  display: flex;
  flex-direction: column;
}

.addProductForm .imageDropZone {
  border: dashed #b3c5ce 2px;
  border-radius: 0.25rem;
  text-align: center;
  aspect-ratio: 1 / 1;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addProductForm .imageDropZone p {
  color: rgb(141, 157, 165);
  margin: 1rem;
}
/* .addProductForm .imageDropZone li {

} */

.titleAndInputs,
.imageAndButton {
  width: 100%;
}
.imageAndButton {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.imageAndButton button {
  margin-top: 1rem;
  align-self: end;
}
