.adminPage {
  margin-top: 150px;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.adminPage .options {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  min-width: 130px;
  align-items: flex-start;
}
.adminPage .options .link {
  font-size: 1.2rem;
  margin: 0;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  padding: 0;
}

.adminPage .options .link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #463a3b;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.adminPage .options .link:hover:before,
.adminPage .link.active::before {
  visibility: visible;
  width: 100%;
}

.adminPage .options .btn {
  max-width: 120px;
}
@media screen and (max-width: 700px) {
  .adminPage {
    flex-direction: column;
  }
  .adminPage .options {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
  }
  .adminPage .options p {
    font-size: 1rem;
  }
}
