.cartItem {
    width: 100%;
    /* border: 1px lightgray solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartItem .imgContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}
.x {
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .x:before, .x:after {
    position: absolute;
    margin-left: 20px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #463a3b;
  }
  .x:before {
    transform: rotate(45deg);
  }
  .x:after {
    transform: rotate(-45deg);
  }
  .cartItem .imgWrapper {
      max-width: 120px;
  }
  .cartItem .imgWrapper img {
      width: 100%;
  }
  .cartItem .info {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .cartItem .quantity input{
    width: 50px;
    height: 32px;
    border-radius: 0.25rem;
    background-color: #fff;
    border: solid #b3c5ce 1px; 
    color: #463a3b;
    font-size: inherit;
    font-family: 'Libre Caslon Text', serif;
    padding: 0 0 0 1rem;
    outline: none;
}
.cartItem .quantity input:focus {
    outline: 1.5px solid rgb(141, 157, 165);
    -moz-outline-radius: .3em;
}
