.deleteConfirm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #545a5ebe;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.deleteConfirm .popUp {
  margin: 2rem;
  background-color: #fff;
  max-width: 300px;
  border-radius: 0.5rem;
  border: 2px solid rgb(141, 157, 165);
  padding: 2rem;
}
.deleteConfirm .popUp h2 {
  font-size: 1.2rem;
}

.deleteConfirm .popUp span {
  text-transform: capitalize;
}
.deleteConfirm .popUp .buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
