.editProductsList {
  width: 100%;
}

.editProductsList h2 {
  margin-top: 0;
}
.editProduct h3 {
  font-size: 1.2rem;
  margin: 0;
  user-select: none;
}
.editProduct h3::first-letter {
  text-transform: capitalize;
}

.editProduct .header {
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editProduct .arrow {
  border: solid #463a3b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 1rem;
}
.editProduct .arrow.up {
  transform: rotate(-135deg);
}
.editProduct .dropdownForm {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
}

.editProduct .formContent {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.editProduct .saveAlert {
  background-color: #b3c5ce;
  text-align: center;
  margin-bottom: 0.5rem;
}
.editProduct .saveAlert p {
  color: #fff;
}

/* inputs */
.editProduct .inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.editProduct input,
.editProduct textarea {
  padding: 0.5rem;
  margin: 0.5rem 0 0;
}

.editProduct input[type="number"]::-webkit-outer-spin-button,
.editProduct input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editProduct input[type="number"] {
  -moz-appearance: textfield;
}

.editProduct label {
  margin-top: 1rem;
}

/* images */
.editProduct .editImages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.editProduct .images {
  display: flex;
  width: 50%;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
}
.editProduct .imageWrapper {
  max-width: 100px;
  min-width: 70px;
  position: relative;
  width: 100%;
}
.editProduct img {
  width: 100%;
  aspect-ratio: 4 / 5.7;
  object-fit: cover;
  border-radius: 0.25rem;
}

.editProduct .deleteImg {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.editProduct .deleteImg span {
  display: block;
  width: 16px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #463a3b;
  border-radius: 3px;
  transform-origin: 10px 0px;
  position: absolute;
  top: 10px;
  left: 3px;
}
.editProduct .deleteImg span:first-child {
  transform: rotate(45deg) translate(0px, 1px);
}
.editProduct .deleteImg span:last-child {
  transform: rotate(-45deg) translate(0px, -3px);
}

/* buttons */
.editProduct .dropdownForm .buttons {
  align-self: flex-end;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.editProductsList .buttons .deleteBtn {
  background-color: #d5dcdf79;
  color: #463a3b;
}
.editProductsList .buttons .deleteBtn:disabled,
.editProductsList .buttons .deleteBtn:disabled[disabled] {
  background-color: #9da8ac79;
}

@media screen and (max-width: 800px) {
  .editProduct .formContent {
    flex-direction: column;
  }
  .editProduct .imageWrapper {
    max-width: 150px;
    min-width: 65px;
  }
}
