.footer {
    width: 100%;
/*     background-color: pink; */
    padding: 2rem 0;
    color: #463a3b;
}
.footerContainer {
    display: flex;
    justify-content: space-between;
}
.footer address, .footer a {
    font-style: normal;
    font-size: .9rem;
}
.footer .form {
    text-align: center;
    font-size: .9rem;
}
