.navbar {
    top: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linkContainer {
    margin-left: 1rem;
    display: flex;
    width: 33%;
}
.link {
    position: relative;
    margin: 1rem;
}
.linkContainer a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #463a3b;
    visibility: hidden;
    transition: all .3s ease-in-out;
}
.linkContainer a:hover::before, .linkContainer .active::before {
    visibility: visible;
    width: 100%;
}

.pageTitle h1 {
    color: #463a3b;
    text-align: center;
    cursor: pointer;
}
.cartIcon {
    text-align: end;
    margin-right: 2rem;
    width: 33%;
}
.cartIcon img {
    width: 30px;
}
.cartIcon {
    color:#463a3b;
}


/* When on homepage make elements in navbar white */
.white a, .white h1, .white .cartIcon {
    color: #fff;
}
.white a::before {
    background-color: #FFF;
}
.navbar.white {
    background: linear-gradient(to bottom, #30385e3b 0%, #c5c5c500 100%);
}
