.navbar {
    top: 0;
    width: 100%;
    position: absolute;
}
.navbarContainer {
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.linkContainer {
    margin-left: 1rem;
    display: flex;
    width: 33%;
}
.link {
    position: relative;
    margin: 1rem;
}
.linkContainer a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #463a3b;
    visibility: hidden;
    transition: all .3s ease-in-out;
}
.linkContainer a:hover::before, .linkContainer .active::before {
    visibility: visible;
    width: 100%;
}

.pageTitle h1 {
    color: #463a3b;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.cartIcon {
    text-align: end;
    margin-right: 2rem;
    width: 33%;
    color:#463a3b;
    display: flex;
    justify-content: flex-end;
}
.cartIcon img {
    width: 40px;
}

/* When on homepage make elements in navbar white */
.white a, .white h1, .white .cartIcon {
    color: #fff;
}
.white a::before {
    background-color: #FFF;
}
.navbar.white {
    background: linear-gradient(to bottom, #292f5050 0%, #c5c5c500 100%);
}

.cartIcon .cartNumWrapper {

  width: 30px;
  height: 30px;
}
.cartIcon .cartNumber {

    height: 100%;
    font-size: 1.1rem;
    line-height: 1rem;
}