.placeOrder {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  gap: 2rem;
}
/* .placeOrder .shippingInfo,
.placeOrder .paymentInfo {
  width: 45%;
  padding: .5rem;
} */
.placeOrder .name {
  display: flex;
}

.placeOrder .shippingInfo form div:not(.select) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.placeOrder input[type=text], input[type=email] {
  padding: .5rem;
  margin: .5rem 0 0;
  border-radius: .25rem;
  border: solid #b3c5ce 1px; 
  font: inherit;
  width: 45%;
}

.placeOrder input:focus {
  outline: 1.5px solid rgb(141, 157, 165);
  -moz-outline-radius: .3em;
}
.placeOrder .shippingInfo input[type=email] {
  width: 96%;
  min-width: 200px;
  margin: .5rem auto;
}
.placeOrder .shippingInfo .select {
  margin: .5rem .5rem 0 0;
  min-width: 218px;
  height: 32px;
}
.placeOrder .paymentInfo .options {
  /* margin-bottom: 1rem; */
  display: flex;
}
.placeOrder .paymentInfo .radio input{
  margin: 0 .5rem;
}
.placeOrder .paymentInfo .radio label {
  margin-right: .5rem;
}
.placeOrder .paymentInfo .cardInfo {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
}

.placeOrder .inputsContainer {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}
.placeOrder .inputs {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.placeOrder .inputs input {
 width: 90%;
}

.buy.checkingOut {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: right;
  gap: 1rem;
}
.buy.checkingOut h2 {
  font-size: 1.1rem;
}
.buy.checkingOut button.checkingOut {
  margin: .7rem 0;
  background-color: #d5dcdf79;
  color: #463a3b;
  margin-right: 1rem;
}
@media screen and (max-width: 700px) {
  .buy.checkingOut {
    text-align: left;
  }
  .buy.checkingOut .buttons {
    max-width: 55%;
  }
  .buy.checkingOut h2 {
    font-size: .9rem;
  }
  .buy.checkingOut h1 {
    font-size: 1.3rem;
  }
  .placeOrder {
    flex-direction: column;
    margin: 1rem 0;
  }
  .placeOrder .shippingInfo,
  .placeOrder .paymentInfo {
    /* width: 100%; */
  }
  .placeOrder .inputsContainer {
    flex-direction: column;
  }
  .placeOrder .paymentInfo .cardInfo {
    flex-direction: column;
  }
}
