.productImages {
  width: 50%;
  display: flex;
  gap: 1rem;
}
.productImages .thumbnails {
  width: 15%;
}

.productImages .thumbnail {
  max-width: 100%;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.productImages .thumbnail img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 5.7;
}
.productImages .thumbnail.selected img {
  box-shadow: 0 0 0 3px #b3c5ce;
}

.productImages .imgWrapper {
  width: 100%;
}

.productImages .imgWrapper img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 5.7;
}

@media screen and (max-width: 800px) {
  .productImages {
    flex-direction: column-reverse;
  }
  .productImages .thumbnails {
    display: flex;
    width: 100%;
    gap: 1rem;
  }
  .productImages .thumbnail {
    max-width: 40px;
    width: 100%;
  }
}
