.shopProductCard {
  min-width: 200px;
  cursor: pointer;
}
.shopProductCard .imgWrapper {
  width: 100%;
}
.shopProductCard .imgWrapper img {
  object-fit: cover;
  aspect-ratio: 4 / 5.7;
  width: 100%;
}
.shopProductCard .desc {
  padding: 0.5rem 0.2rem;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}
.shopProductCard .desc h2 {
  font-size: 1.2rem;
  margin: 0 0.3rem;
  min-width: 60%;
}
.shopProductCard .desc .price {
  min-width: 58px;
  white-space: nowrap;
}
.shopProductCard .desc h2::first-letter {
  text-transform: capitalize;
}
